<launch>
  <include file="$(find line_guide)/launch/vc-c50i.launch" />
	<!-- <node name="line_debug" pkg="line_guide" type="debug.py" output="screen" /> -->
	<node name="line_detector" pkg="line_guide" type="detector.py" output="screen" />
	<!-- <node name="line_guide" pkg="line_guide" type="guide.py" output="screen" /> -->
</launch>
